---
import LoginLayout from "../layouts/LoginLayout.astro";
import Button from "../components/Button.astro";
import Menu from "../components/Menu.astro";
---

<LoginLayout title="Welcome to Astro.">
  <main>
    <Menu />
    <img src="assets/logo.svg" alt="logo" />
    <div>
      <Button
        type="button"
        text="Registrer"
        variant="link invertedGreen fullWidth large"
        href="/opret-bruger"
      />
      <Button
        type="button"
        text="Log ind"
        variant="link green fullWidth large"
        href="/log-ind"
      />
    </div>
  </main>
</LoginLayout>

<style>
  img {
    width: 271.002px;
    height: 270px;
    margin: 0 auto;
    text-align: center;
    margin-top: 109px;
  }
  div {
    display: flex;
    width: 393px;
    margin-top: 93px;
    gap: 20px;
  }
</style>
