---
let headersList = {
  apikey:
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsZ3N4aXlud3F2dmh3aGVleHdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ0NzA5MjksImV4cCI6MjAzMDA0NjkyOX0.U40ZZWRh_MC7612vdwFHVKFZxwRHq_TECCnnzovEXKE",
};

let response = await fetch(
  "https://jlgsxiynwqvvhwheexwo.supabase.co/rest/v1/exercises",
  {
    method: "GET",
    headers: headersList,
  }
);

let data = await response.json();
console.log(data);

import LoginLayout from "../layouts/LoginLayout.astro";
import Button from "../components/Button.astro";
import Menu from "../components/Menu.astro";
---

<LoginLayout title="Welcome to Astro.">
  <Menu />
  <img src="assets/logo.svg" alt="logo" />
  <div>
    <Button
      type="button"
      text="Registrer"
      variant="invertedGreen fullWidth large"
      href="/opret-bruger"
    />
    <Button
      type="button"
      text="Log ind"
      variant="green fullWidth large"
      href="/log-ind"
    />
  </div>
</LoginLayout>

<style>
  img {
    width: 271.002px;
    height: 270px;
    margin: 0 auto;
    text-align: center;
    margin-top: 109px;
  }
  div {
    display: flex;
    width: 393px;
    margin-top: 93px;
    gap: 20px;
  }
</style>
