---
import LoginLayout from "../layouts/LoginLayout.astro";
import Button from "../components/Button.astro";
import Menu from "../components/Menu.astro";
---

<LoginLayout
  title="Velkommen"
  metaDescription="Aktivt Ansigt er en webapplikation udviklet i samarbejde med Center for Hjerneskade, designet til at hjælpe personer i rehabilitering efter en erhvervet hjerneskade. Appen tilbyder en række videoøvelser fokuseret på genoptræning af ansigtsmotorik, der støtter brugere i deres vej mod en forbedret livskvalitet. Med Aktivt Ansigt får du adgang til specialiserede træningsprogrammer, der kan tilpasses individuelle behov og rehabiliteringsmål."
>
  <main>
    <Menu />
    <div class="logo_m_tekst">
      <img src="assets/logo.svg" alt="logo" />
      <h1>Aktivt Ansigt</h1>
    </div>
    <div>
      <Button
        type="button"
        text="Registrer"
        variant="link invertedGreen fullWidth large"
        href="/opret-bruger"
      />
      <Button
        type="button"
        text="Log ind"
        variant="link green fullWidth large"
        href="/log-ind"
      />
    </div>
  </main>
</LoginLayout>
<script>
  // Checking if the uuid is stored in local storage. If that's the case, the user has previously
  // checked off "stay signed in", and will therefore be redirected to the page "gemte-programmer"
  if (localStorage.getItem("uuid")) {
    window.location.href = "/gemte-programmer";
  }
</script>
<style>
  img {
    width: 271.002px;
    height: 270px;
    margin: 0 auto;
    text-align: center;
  }
  div {
    display: flex;
    width: 393px;
    margin-top: 20px;
    gap: 20px;
  }
  .logo_m_tekst {
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    font-weight: var(--fw-b);
    font-size: var(--fs-ml);
    color: var(--primary-color);
    gap: 0px;
    margin-top: 40px;
  }
</style>
