---
import Layout from "../layouts/Layout.astro";
import SettingItem from "../components/SettingItem.astro";
import SettingsModal from "../components/SettingsModal.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Indstillinger" backgroundColor="alternative">
  <main>
    <Menu />
    <SettingsModal variant="text-setting-modal" />
    <SettingsModal variant="contrast-setting-modal" />
    <h1>Indstillinger</h1>
    <div id="container-ins">
      <SettingItem
        text="Tekststørrelse"
        image="/assets/text-icon.svg"
        altText="text icon"
        type="pop-up text-size-setting"
        klasse="color-status"
      />
      <SettingItem
        text="Kontrast"
        image="/assets/contrast-icon.svg"
        altText="contrast icon"
        type="pop-up contrast-setting"
        klasse="color-status"
      />
      <SettingItem
        text="Farver: "
        image="/assets/palette-icon.svg"
        altText="palette icon"
        type="toggle"
        klasse="color-status"
      />
      <SettingItem
        text="Tekstoplæser: "
        image="/assets/speech-icon.svg"
        altText="talebobbel icon"
        type="toggle2"
        klasse="speech-status"
      />
    </div>
  </main>
  <script src="../js/settings.js"></script>
  <script src=`../js/generel.js`></script>
</Layout>

<style>
   main {
    margin: 0;
  }

  h1 {
    margin-top: 140px;
    margin-bottom: 36px;
    font-size: var(--fs-l);
    font-family: var(--main-font);
    text-align: center;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

  /* --- Når iPad'en er i landscape / horisontal orientation --- */
@media (max-width: 1024px) and (orientation: landscape) {
  div {
    justify-content: center; 
  }
}

  /* --- Når iPad'en er i portræt / vertikal orientation iPad mini --- */
@media (max-width: 768px) {
  div {
    flex-direction: column; 
    align-items: center; 
  }
}
</style>
