---
import Layout from "../layouts/Layout.astro";
import SettingItem from "../components/SettingItem.astro";
import SettingsModal from "../components/SettingsModal.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Indstillinger" backgroundColor="alternative">
  <main>
    <Menu />
    <SettingsModal variant="text-setting-modal" />
    <SettingsModal variant="contrast-setting-modal" />
    <h1>Indstillinger</h1>
    <div>
      <SettingItem
        text="Tekststørrelse"
        image="/assets/text-icon.svg"
        altText="text icon"
        type="pop-up text-size-setting"
        klasse="color-status"
      />
      <SettingItem
        text="Kontrast"
        image="/assets/contrast-icon.svg"
        altText="contrast icon"
        type="pop-up contrast-setting"
        klasse="color-status"
      />
      <SettingItem
        text="Farver: "
        image="/assets/palette-icon.svg"
        altText="palette icon"
        type="toggle"
        klasse="color-status"
      />
      <SettingItem
        text="Tekstoplæser: "
        image="/assets/speech-icon.svg"
        altText="talebobbel icon"
        type="toggle2"
        klasse="speech-status"
      />
    </div>
  </main>
  <script src="../js/settings.js"></script>
  <script src=`../js/generel.js`></script>
</Layout>

<style>
  main {
    margin-top: 200px;
  }
  h1 {
    margin-top: 140px;
    margin-bottom: 36px;
    font-size: var(--fs-l);
    font-family: var(--main-font);
    text-align: center;
  }
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75vw;
    margin: 0 auto;
  }
</style>
