---
import Layout from "../layouts/Layout.astro";
import SettingItem from "../components/SettingItem.astro";
import SettingsModal from "../components/SettingsModal.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Welcome to Astro." backgroundColor="alternative">
  <main>
    <Menu />
    <SettingsModal variant="text-setting-modal" />
    <SettingsModal variant="contrast-setting-modal" />
    <h1>Indstillinger</h1>
    <div>
      <SettingItem
        text="Tekst størrelse"
        image="assets/text-icon.svg"
        altText="text icon"
        type="pop-up text-size-setting"
      />
      <SettingItem
        text="Kontrast"
        image="assets/contrast-icon.svg"
        altText="contrast icon"
        type="pop-up contrast-setting"
      />
      <SettingItem
        text="Farver: "
        image="assets/palette-icon.svg"
        altText="palette icon"
        type="toggle"
      />
    </div>
  </main>
  <script src="../js/settings.js"></script>
  <script src=`../js/generel.js`></script>
</Layout>

<style>
  h1 {
    margin-top: 140px;
    margin-bottom: 36px;
    font-size: var(--fs-l);
    font-family: var(--main-font);
    text-align: center;
  }
  div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 802px;
    margin: 0 auto;
  }
</style>
