---
let headersList = {
  apikey:
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsZ3N4aXlud3F2dmh3aGVleHdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ0NzA5MjksImV4cCI6MjAzMDA0NjkyOX0.U40ZZWRh_MC7612vdwFHVKFZxwRHq_TECCnnzovEXKE",
};

let response = await fetch(
  "https://jlgsxiynwqvvhwheexwo.supabase.co/rest/v1/exercises",
  {
    method: "GET",
    headers: headersList,
  }
);

const data = await response.json();

import Layout from "../layouts/Layout.astro";
import ExercisesList from "../components/ExercisesList.astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="sidebar">
      <h1>Dit program</h1>
      <div class="program-list">
        <!-- <client:only>
          {
            data.forEach((exercise) => {
              exercisesList.forEach(
                (listItem) =>
                  listItem === exercise.imageNumber && (
                    <ExerciseCard
                      cardId={`normal-${exercise.id}`}
                      title={exercise.title}
                      note={exercise.note && exercise.note}
                      image={`../assets/images/${exercise.image}.webp`}
                      imageNumber={exercise.image}
                    />
                  )
              );
            })
          }
        </client:only> -->
      </div>
      <div class="buttons">
        <Button
          type="button"
          text="Gem"
          icon="bookmark"
          variant="invertedGreen fullWidth small"
        /><Button
          type="button"
          text="Afspil"
          icon="play"
          variant="green fullWidth small"
        />
      </div>
    </div>

    <ExercisesList
      headline="Pande"
      description="Disse øvelser fokusere på området omkring panden"
      dataFilter={data.filter((exercise) => {
        if (exercise.category === "pande") {
          return true;
        } else {
          return false;
        }
      })}
    /><ExercisesList
      headline="Øjne"
      description="Disse øvelser fokusere på øjnene"
      dataFilter={data.filter((exercise) => {
        if (exercise.category === "øjne") {
          return true;
        } else {
          return false;
        }
      })}
    />
    <ExercisesList
      headline="Næse"
      description="Disse øvelser fokusere på området omkring næsen"
      dataFilter={data.filter((exercise) => {
        if (exercise.category === "næse") {
          return true;
        } else {
          return false;
        }
      })}
    />
    <ExercisesList
      headline="Kinder og mund"
      description="Disse øvelser fokusere på området omkring kinderne og munden"
      dataFilter={data.filter((exercise) => {
        if (exercise.category === "kinder-mund") {
          return true;
        } else {
          return false;
        }
      })}
    />

    <ExercisesList
      headline="Tunge"
      description="Disse øvelser fokusere på tungen"
      dataFilter={data.filter((exercise) => {
        if (exercise.category === "tunge") {
          return true;
        } else {
          return false;
        }
      })}
    />
  </main>
</Layout>

<script src="../js/build-your-program.js"></script>

<style>
  h1,
  h2 {
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: var(--fw-b);
  }
  h2 {
    margin-bottom: 6px;
  }
  p {
    margin: 0 0 21px 5px;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: var(--fw-n);
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    gap: 15px;
  }
  .sidebar {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 290px;
    padding: 40px 0;
    height: 100vh;
    background-color: var(--alternative-bg-color);
    border-right: 5px solid var(--primary-color);
  }
  .divider {
    width: 57px;
    border-bottom: 1px solid var(--primary-color);
  }
  div:has(h2) {
    margin-left: 341px;
  }
  .buttons {
    display: flex;
    gap: 9px;
    width: 250px;
    padding-top: 12px;
    margin: 0 auto;
  }
  .program-list {
    text-align: left;
    height: 77vh;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
</style>
