---
import LoginLayout from "../layouts/LoginLayout.astro";
import Button from "../components/Button.astro";
import InputField from "../components/InputField.astro";
import "../css/forms.css";
---

<LoginLayout title="Opret bruger">
  <main>
    <dialog class="password-dialog">
      <div>
        <img src="/assets/x-red.svg" alt="red x" class="close-button" />
      </div>
      <p>Din adgangskode skal bestå af:</p>
      <ul>
        <li>Mindst 8 tegn</li>
        <li>Mindst et lille bogstav</li>
        <li>Mindst et stort bogstav</li>
        <li>Mindst et tal</li>
      </ul>
    </dialog>
    <div class="fade-img">
      <img src="/assets/images/bg-til-landing-optimized.webp" alt="person smiler" />
    </div>
    <div>
      <h1>Opret bruger:</h1>
      <form class="sign-up">
        <InputField label="Brugernavn" id="username" type="text" required />
        <InputField
          label="Adgangskode"
          id="password"
          type="password"
          variant="password"
          icon="info-icon"
          required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        />
        <InputField
          label="Gentag adgangskode"
          id="repeatPassword"
          type="password"
          variant="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          required
        />
        <div>
          <h2 id="error">Adgangskoder matcher ikke</h2>
          <h2 id="error-message">
            Adgangskoden skal indeholde
            <span id="letter">store og små bogstaver</span>
            <span id="number">tal</span>
            <span id="length">mindst 8 tegn</span>
          </h2>
        </div>
        <div class="buttons">
          <Button
            type="button"
            text="Afbryd"
            variant="link red fullWidth medium"
            href=".."
          />
          <Button
            type="submit"
            text="Fortsæt"
            variant="green fullWidth medium"
          />
        </div>
      </form>
    </div>
  </main>
  <script src="../js/sign-up.js"></script>
</LoginLayout>

<style>
  main{
    margin: 0;
  }
.fade-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; 
}

.fade-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  opacity: 0.5;
}

</style>
