---
/* let headersList = {
  apikey:
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsZ3N4aXlud3F2dmh3aGVleHdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ0NzA5MjksImV4cCI6MjAzMDA0NjkyOX0.U40ZZWRh_MC7612vdwFHVKFZxwRHq_TECCnnzovEXKE",
};

let response = await fetch(
  "https://jlgsxiynwqvvhwheexwo.supabase.co/rest/v1/exercises",
  {
    method: "GET",
    headers: headersList,
  }
);

const data = await response.json(); */

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Menu from "../components/Menu.astro";
import "../css/generel.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <Menu />
    <h1>Profil</h1>
    <article class="person-data">
      <img
        class="profile-pic"
        src="../../public/assets/placeholder-foto.svg"
        alt="profilbillede"
      />
      <div>
        <div id="personal-info">
          <h2>Person information</h2>
          <div class="info-lists">
            <ul class="colored-text">
              <p>Navn:</p>
              <p>Fødselsdag:</p>
              <p>Tlf. Nr.:</p>
              <p>Mail:</p>
            </ul>
            <ul>
              <p id="name">Ukendt</p>
              <p id="birthday">Ukendt</p>
              <p id="tlf">Ukendt</p>
              <p id="mail">Ukendt</p>
            </ul>
          </div>
        </div>
        <div id="gen-info">
          <div id="locked-info">
            <h2>Generel information</h2>
            <img src="" alt="" />
          </div>
          <div class="info-lists">
            <ul class="colored-text">
              <p>Bruger navn:</p>
              <p>BrugerID:</p>
              <p>Oprettet:</p>
            </ul>
            <ul>
              <p id="user-name">Ukendt</p>
              <p id="userID">Ukendt</p>
              <p id="accessdate">Ukendt</p>
            </ul>
          </div>
        </div>
      </div>
      <div class="buttons">
        <Button
          type="button"
          text="Log af"
          icon="log-out"
          variant="red fullWidth small log-out"
        /><Button
          type="button"
          text="Rediger"
          icon="edit"
          variant="green fullWidth small "
        />
      </div>
    </article>
  </main>
  <script src="../js/profile.js"></script>
</Layout>

<style>
  main {
    margin: 0rem 5rem;
    padding-top: 50px;
  }
  * {
    margin: 0;
    padding: 0;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  h1 {
    font-size: var(--fs-l);
    font-family: var(--main-font);
    font-weight: var(--fw-b);
    display: none;
  }
  h2 {
    margin-bottom: 6px;
    font-size: var(--fs-m);
    font-family: var(--main-font);
    font-weight: var(--fw-b);
  }
  ul {
    display: grid;
    gap: 0.2rem;
    align-items: center;
    > p {
      font-size: 16px;
      font-family: var(--main-font);
      font-weight: var(--fw-n);
    }
  }

  article > img {
    height: 120px;
    width: 120px;
    margin: 0 2rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 260px;
    height: 100px;
  }
  .info-lists {
    display: flex;
    gap: 1.5rem;
    > .colored-text {
      color: var(--primary-color);
      font-weight: bold;
    }
  }
  #personal-info {
    margin-bottom: 2rem;
  }
  #locked-info {
    display: flex;
    gap: 0.5rem;
    > img {
      width: 1rem;
      height: 1rem;
    }
  }
</style>
