---
interface Props {
  text: string;
  icon: string;
}

const { text, icon } = Astro.props;
---

<div><img src={icon} alt=`${text} + ikon` /><p>{text}</p></div>
<style>
  div {
    display: flex;
    gap: 13px;
    align-items: center;
    height: 31px;
  }
  p {
    font-size: var(--fs-m);
    font-family: var(--main-font);
    font-weight: var(--fw-l);
  }
  img {
    width: 30px;
    height: 30px;
  }
</style>
