---
interface Props {
  size: string;
}
const { size } = Astro.props;
---

<div class={size}>
  <button><img src="assets/minus-black.svg" alt="minus icon" /></button>
  <div><p>5</p></div>
  <button><img src="assets/plus-black.svg" alt="plus icon" /> </button>
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 2px;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 37px;
      background-color: #eaeaea;
      border-radius: 8px;
    }
  }
  p {
    font-family: var(--secondary-font);
    font-size: 18px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 25px;
    border: 0;
    border-radius: 4px;
    background-color: #eaeaea;
  }
  img {
    padding: 9px 4px;
  }
  .small {
    > div {
      width: 22px;
      height: 22px;
      border-radius: 4px;
      > p {
        font-size: 14px;
      }
    }
    > button {
      height: 16px;
      border-radius: 2px;
    }
  }
</style>
