---
interface Props {
  image: string;
  title: string;
}
const { image, title } = Astro.props;
---

<article>
  <div>
    <img class="container-stat-img" src=`../assets/${image}.svg` alt="stat icon" /><h1>
      {title}
    </h1>
  </div><slot />
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    height: 370px;
    padding: 30px 25px;
    border-radius: 8px;
    background-color: var(--alternative-bg-color);
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 220px;
  }
  h1 {
    font-family: var(--main-font);
    font-size: var(--fs-ml);
    font-weight: var(--fw-b);
  }

    /* --- Når iPad'en er i portræt / vertikal orientation --- */
@media (min-width: 768px) {
  article {
    width: 30%; 
    max-width: 350px; 
    padding: 40px; 
    height: auto; 
  }
}

  /* --- Når iPad'en er i landscape / horisontal orientation --- */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr); 
  }
  article {
    width: 52%;
        max-width: 350px;
        padding: 40px;
        height: 395.421px;
  }
  .container-stat-img{
    height: 110px;
  }
}
</style>
