div:has(form) {
  width: 315px;
  margin-top: 108px;
}
form {
  display: flex;
  flex-direction: column;
  width: 315px;
  margin: auto;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 315px;
  margin-top: 23px;
  gap: 20px;
}

h1 {
  text-align: start;
  font-size: 24px;
  font-family: var(--main-font);
  color: var(--primary-color);
}
.show {
  display: block;
}

h2 {
  display: none;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: var(--fs-m);
}
span {
  display: none;
}
label {
  font-size: var(--fs-m);
  font-family: var(--main-font);
  font-weight: var(--fw-b);
}

dialog {
  width: 250px;
  border-radius: 10px;
  > div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
p,
li {
  font-family: var(--main-font);
  font-size: var(--fs-m);
}
.close-button {
  width: 25px;
  cursor: pointer;
}
