article {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 421px;
  height: 178px;
  padding: 11px 12px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
}
h3,
p {
  font-family: var(--main-font);
}

.remove {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 93px;
  padding: 6px;

  > img {
    width: 80px;
    height: 80px;
  }

  > div {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding: 2px 3px;
    > h3 {
      margin-top: 16px;
      font-size: 16px;
      margin-bottom: 0;
    }
    > .note {
      margin-bottom: 8px;
      font-size: 10px;
      margin-top: 0;
    }
    > h2 {
      margin-top: 8px;
      margin-bottom: 0;
      font-family: var(--main-font);
      font-size: 10px;
    }
    > p {
      font-size: 12px;
      font-weight: var(--fw-t);
      margin: 2px 0;
    }
    > .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;
    }
  }
}
.red {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 31px;
  padding: 6px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-bg-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);

  > #trashcan {
    background-image: url(../public/assets/trashcan-white.svg);
  }
}
.red:hover {
  color: var(--primary-color);
  background-color: var(--main-bg-color);
  border: 2px solid var(--primary-color);
  > #trashcan {
    background-image: url(../public/assets/trashcan-red.svg);
  }
}
.x-small {
  width: 60px;
  height: 20px;
  border-radius: 5px;
  padding: 6px 5px;
  > .icon {
    width: 12px;
    height: 12px;
  }
  > p {
    font-size: var(--fs-s);
  }
}
.small-card {
  display: flex;
  align-items: center;
  gap: 2px;
  > div {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 22px;
    height: 22px;
    border-radius: 4px;

    background-color: #eaeaea;

    > p {
      font-size: 14px;
    }
  }
  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 16px;
    border: 0;
    border-radius: 2px;
    background-color: #eaeaea;
    cursor: pointer;
  }
}
.icon {
  width: 17px;
  height: 17px;
  background-size: contain;
}
