---
import LogoHeader from "../components/LogoHeader.astro";

interface Props {
  title: string;
  metaDescription?: string;
}

const { title, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Marmelad&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <LogoHeader />
    <slot />
  </body>
</html>
<style is:global>
  html {
    --main-font: "Manjari", sans-serif;
    --secondary-font: "Marmelad", sans-serif;
    --fw-b: 700;
    --fw-r: 400;
    --fw-t: 100;
    --fs-s: "14px";
    --fs-m: "18px";
    --fs-l: "32px";
    --primary-color: #901a36;
    --secondary-color: #749e2e;
    --main-bg-color: #f9f7f4;
    --alternative-bg-color: #eaeaea;
    --font-color: #141414;
  }
  body {
    min-height: 100vh;
    background-color: var(--main-bg-color);
  }
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
  }
</style>
